*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input-field{
    

}
#container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 55%;
    justify-items: center;
     border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .box {
    width: 10%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 30px;
    border-radius: 10px;
  }