*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color: white;
  font-family: sans-serif;
}
#flex{
  display: flex;
  justify-content: center;
}
color{
  background-color: red;
}
#small-container{
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  color: black
}
#timer{
  background-color: #000;
}
#numb-btn{
  margin-left: 55px;
  margin-top: 20px;
}
.hidden{
display: none;
}
#container {
    margin: auto;
    height: 350px;
    text-align: center;
    
   
    width: 55%;
    justify-items: center;
     border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #message{
    color: white;
  }
  
  .box {
    width: 10%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 30px;
    border-radius: 10px;
  }